<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Open:</strong>
  <%= @ticket.open %>
</p>

<p>
  <strong>Tags:</strong>
  <%= tag_list(@ticket) %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @ticket.creator.name %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @ticket.assignee ? @ticket.assignee.name : "No one" %>
</p>

<p class="actions">
  <%= link_to 'Edit', edit_ticket_path(@ticket) %>
</p>

<h2>Comments</h2>

<% if @ticket.comments.any? %>
  <% @ticket.comments.each do |comment| %>
    <div class="comment">
      <h4><%= comment.creator.name %></h4>
      <p><%= comment.body %></p>
      <p><%= link_to "Edit", edit_ticket_comment_path(@ticket, comment) %></p>
    </div>
  <% end %>
<% else %>
  <p>There are no comments.</p>
<% end %>

<%= render "comments/form", comment: Comment.new %>
