<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Tickets", tickets_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
      </ul>
    </nav>
    <section class="container">
      <%= yield %>
    </section>
  </body>
</html>
